{% if primary_image_carouse is same as("true") and trick.primaryImages|length >1 %} {# We want a carousel and have at least two image #}
    <div class="carousel">
        {% for primaryImage in trick.primaryImages %}
            <a class="carousel-item" href="#{{ primaryImage.id }}!"><img src="{{ vich_uploader_asset(primaryImage, 'imageFile') }}"></a>
        {% endfor %}
    </div>
{% else %}
    {% set primaryImage = trick.primaryImages|first %}
    {% if primaryImage %}
        <img id="trick-primary-image" src="{{ vich_uploader_asset(primaryImage, 'imageFile') }}" alt="{{ primaryImage.title }}" class="responsive-img w100">
    {% else %}
        <img id="trick-primary-image" src="{{ app_default_trick_image }}" alt="Default Trick image" class="responsive-img w100">
    {% endif %}
{% endif %}

