{% if actionPath is not defined %}
    {{ form_start(commentForm) }}
{% else %}
    {{ form_start(commentForm, {
        action:actionPath,
        method:'POST',
    }) }}
{% endif %}

<div class="row">
    <div class="input-field col m6 s12 offset-m2">
        <i class="material-icons prefix">mode_edit</i>
        {{ form_widget(commentForm.comment) }}
        {{ form_label(commentForm.comment, 'comment') }}
    </div>
    <div class="col m2 s12 valign-wrapper my-3">
        {{ form_widget(commentForm.save) }}
    </div>
</div>


{{ form_end(commentForm) }}