{% for comment in comments %}
    <div class="row valign-wrapper my-3 mr-3 mr-l-0" id="comment-{{ comment.id }}">

        <div class="col s2 hide-on-med-and-down"></div>

        <div class="col s3 l2">
            <p>{% include 'user/_user-profile-image.html.twig' with {'user': comment.user} %}</p>
            <p class="center-align">{{ comment.user.userName }}</p>
        </div>

        <div class="col s8 l7 z-depth-1 px-4 py-3 mr-s-2">

            <div>
                <div class="comment" id="comment-text-{{ comment.id }}">
                    {{ comment.comment|nl2br }}
                    <p class="right-align m-0"> {{ comment.CreatedAt|date }}</p>
                </div>
                <div id="comment-form-{{ comment.id }}">
                    {# this will have the generated form #}
                </div>

                {% if comment.user == app.user or is_granted('ROLE_ADMIN') %}
                    <form action="{{ path('comment.delete', {id: comment.id}) }}" method="post"
                          onsubmit="return confirm('are you sure you wish to delete this comment ?')">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete-comment'~comment.id) }}"/>
                        <p class="right-align m-0 mt-1" id="comment-buttons-{{ comment.id }}" data-status="read">
                            <a href="{{ path('comment.edit', {id: comment.id}) }}"
                               class="btn-floating btn-small waves-effect waves-light"
                               id="comment-add-form-button-{{ comment.id }}"
                               onclick="addEditForm(event, this )"
                               data-commentid="{{ comment.id }}"
                               data-status="">
                                <i class="material-icons">mode_edit</i>
                            </a>
                            <a class="btn-floating btn-small waves-effect waves-light"
                               id="comment-remove-form-button-{{ comment.id }}"
                               onclick="removeEditForm(event, this )"
                               style="display: none"
                               data-commentid="{{ comment.id }}">
                                <i class="material-icons">close</i>
                            </a>
                            <button type="submit" class="btn-floating btn-small waves-effect waves-light red"><i
                                        class="material-icons">delete_forever</i></button>
                        </p>
                    </form>
                {% endif %}

            </div>

        </div>

        <div class="col s2 hide-on-med-and-down"></div>

    </div>
{% endfor %}