{% extends 'base.html.twig' %}

{% block title %} Edit comment {{ comment.id }}{% endblock %}

{% block body %}

    {{ form_start(commentForm) }}

    <div class="row">
        <div class="input-field col s6 offset-s2">
            <i class="material-icons prefix">mode_edit</i>
            {{ form_widget(commentForm.comment) }}
            {{ form_label(commentForm.comment, 'comment') }}
        </div>
        <div class="col s2 valign-wrapper my-3">
            {{ form_widget(commentForm.save) }}
        </div>
    </div>


    {{ form_end(commentForm) }}

{% endblock %}