<div class="trick-form px-5">
    {{ form_start(form) }}

    {% if form.name is defined %}
        <hr class="mt-3 seperator">
        <h2 class="small-title grey-text text-lighten-1 mt-1 mb-2">Edit the Trick</h2>
        <div class="row">
            <div class="input-field col l8 m10 s12">
                {{ form_row(form.name) }}
            </div>
        </div>

    {% endif %}

    {% if form.text is defined %}
        <div class="row">
            <div class="input-field col s12">
                {{ form_row(form.text) }}
                <span class="helper-text">You can use MarkDown to format text (<a
                            href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Cheatsheet</a>) but raw html is not permitted</span>
            </div>
        </div>

    {% endif %}

    {% if form.category is defined %}
        <hr class="mt-3 seperator">
        <h2 class="small-title grey-text text-lighten-1 mt-1 mb-2">Select the category</h2>
        <div class="row">
            <div class="input-field col l6 m9 s12">
                {{ form_row(form.category) }}
            </div>
        </div>
    {% endif %}


    {% if form.tags is defined %}
        <hr class="mt-3 seperator">
        <h2 class="small-title grey-text text-lighten-1 mt-1 mb-2">Add or remove some tags</h2>
        <div class="row">
            <div class="chips" id="chips1">
                <input class="custom-class"> {# Materialize for adding chips #}
            </div>
            {{ form_row(form.tags) }} {# adding our hidden input that will be filled with JS #}
            {{ form_row(form.tagsData) }}
        </div>
    {% endif %}

    {% if form.images is defined and form.videos is defined %}
        <hr class="mt-3 seperator">
        <h2 class="small-title grey-text text-lighten-1 mt-1 mb-2">Add and remove images and videos</h2>
        <div class="row">
            <div class="col l6 s12">
                {{ form_row(form.images) }}
            </div>
            <div class="col l6 s12">
                {{ form_row(form.videos) }}
            </div>
        </div>
    {% endif %}

    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>