<div class="trick-form px-5">
    {{ form_start(form) }}

    {% if form.name is defined %}
        <div class="row">
            <div class="input-field col l8 m10 s12">
                {{ form_row(form.name) }}
            </div>
        </div>

    {% endif %}

    {% if form.text is defined %}
        <div class="row">
            <div class="input-field col s12">
                {{ form_row(form.text) }}
                <span class="helper-text">You can use MarkDown to format text (<a
                            href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Cheatsheet</a>) but raw html is not permitted</span>
            </div>
        </div>

    {% endif %}

    {% if form.category is defined %}
        <div class="row">
            <div class="input-field col l6 m9 s12">
                {{ form_row(form.category) }}
            </div>
        </div>
    {% endif %}


    {% if form.tags is defined %}
        <div class="row">
            <span id="trick-tag-data" data-all-tags-json="{{ allTagsJson }}" data-trick-tags-json="{{ trickTagsJson }}"></span>
            <div class="chips" id="chips1">
                <input class="custom-class">
                <input type="hidden">
            </div>

            {{ form_row(form.tags) }}
        </div>
    {% endif %}

    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>