<hr>
<h2>Logs</h2>
<ul class="collapsible">
    {% for log in history %}
        <li>

            <div class="row blue lighten-3 collapsible-header mb-0">
                <div class="col s4">
                    <p>Version {{ log.version }} - <b>{{ log.action }}</b></p>
                </div>
                <div class="col s4">
                    <p>{{ log.loggedAt|date('d/m/Y - H:i:s') }}</p>
                </div>
                <div class="col s4">
                    <p>By <b>{{ log.username }}</b></p>
                </div>
            </div>

            <div class="collapsible-body">
                {% for key, data in log.data %}
                    <div class="row">
                        <div class="col s3"><p>{{ key }}</p></div>
                        <div class="col s9">{{ data }}</div>
                    </div>

                {% endfor %}
                <form action="{{ path('trick.revert', {'id': trick.id, 'historyId': log.id} ) }}" method="post"
                      onsubmit="return confirm('are you sure you wish to revert this ?')">
                    <input type="hidden" name="_token" value="{{ csrf_token('revert-trick'~log.id) }}"/>
                    <input type="hidden" name="_version" value="{{ log.version }}"/>

                    <p class="center">
                        <button class="btn mt-2">Revert</button>
                    </p>
                </form>

            </div>

        </li>
    {% endfor %}

</ul>
