{% extends 'base.html.twig' %}

{% block title %}
    Edit trick {{ trick.name }}
{% endblock %}

{% block body %}
    <div class="trick-container container z-depth-1 mt-5">

        <!-- Header image with edit buttons -->
        <div class="trick-image-header">


            <div class="trick-edit-button z-depth-2 px-3 mt-3 mr-2 indigo lighten-5">

                <a class="waves-effect waves-light p-1"><i class="material-icons">create</i></a>
                <a class="waves-effect waves-light p-1"><i class="material-icons">delete</i></a>

            </div>

            <img src="https://via.placeholder.com/350x150" alt="" class="responsive-img w100">
            <h1 class="trick-name center-align w100 font-coiny m-0 text-shadow">{{ trick.name }}</h1>
        </div>

        <!-- Images and videos -->
        <div class="row flex-center" id="trick-images">
            {% for i in 0..10 %}
                <div class="col xl2 l3 m6 s12 mt-3">
                    <img src="https://via.placeholder.com/350x150" alt="" class="responsive-img w100 z-depth-2">
                </div>

            {% endfor %}

        </div>

        <h1>edit {{ trick.name }}</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <a class="waves-effect waves-light btn">Delete <i class="material-icons right">delete</i></a>
        <button class="waves-effect waves-light btn">Save <i class="material-icons right">send</i></button>
        {{ form_end(form) }}

    </div>

{% endblock %}



