{% extends 'base.html.twig' %}

{% block title %}
    Edit trick {{ trick.name }}
{% endblock %}

{% block body %}
    <div class="trick-container container z-depth-1 mt-5" id="trickEditContainer">

        <!-- Header image with edit buttons -->
        <div class="trick-image-header">

            <!-- Header image -->
            {% include 'image/_trick-primary-image.html.twig' with {'trick': trick} %}
            
            <h1 class="trick-name center-align w100 font-coiny m-0 text-shadow">{{ trick.name }}</h1>
        </div>

        <!-- Images and videos -->
        <div class="row flex-center valign-wrapper" id="trick-images">
            {% for image in trick.images %}
                <div class="col xl2 l3 m6 s12 mt-3">
                    {% include 'image/_trick-image.html.twig' with {'image': image, 'edit': true} %}
                </div>
            {% endfor %}
        </div>

        <!-- Add image -->
        <div class="row">
            <div class="col m8 offset-m2">
                {{ form_start(imageForm) }}
                {{ form_widget(imageForm) }}
                {{ form_end(imageForm) }}
            </div>
        </div>

        <h1>edit {{ trick.name }}</h1>

        {% include 'trick/admin/_edit-trick-form.html.twig' with {'form': form} %}

        {# Getting the logs #}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="row center">
                <a class="btn waves-effect waves-light mb-3"
                   href="{{ path('trick.history', {'id': trick.id}) }}">view {{ trick.name }} history</a>
            </div>

        {% endif %}

    </div>
{% endblock %}



