{% extends 'base.html.twig' %}

{% block header_title %}
    Edit trick {{ trick.name }}
{% endblock %}

{% block body %}
    <div class="trick-container container z-depth-1 mt-5" id="trickEditContainer">

        <!-- Header image with edit buttons -->
        <div class="trick-image-header">
            <div class="trick-edit-button px-3 mt-3 mr-2">
                <a href="{{ path('trick.show', {id:trick.id, slug:trick.slug}) }}"
                   class="waves-effect waves-light btn-small px-2 mt-1">
                    <i class="material-icons">visibility</i>
                </a>
            </div>

            <!-- Header image -->
            {% include 'media/_trick-primary-image.html.twig' with {'trick': trick} %}

            <h1 class="trick-name center-align w100 font-coiny m-0 bordered-text responsive-header">EDIT :<br>{{ trick.name }}</h1>
        </div>

        <!-- Images and videos -->
        <h2 class="small-title grey-text text-lighten-1 mt-1 mb-2">Set the main image</h2>
        <div class="row flex-center valign-wrapper" id="trick-images">
            {% for image in trick.images %}
                <div class="col xl2 l3 m6 s12 mt-3">
                    {% include 'media/_edit-trick-image.html.twig' with {'image': image, 'edit': true, 'trick': trick} %}
                </div>
            {% endfor %}

            {% for video in trick.videos %}
                <div class="col xl2 l3 m6 s12 mt-3">
                    {% include 'media/_trick-video.html.twig' with {'video': video, 'edit': true} %}
                </div>
            {% endfor %}
        </div>

        {% include 'trick/admin/_edit-trick-form.html.twig' with {'form': form} %}

        {# Getting the logs #}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="row center">
                <a class="btn waves-effect waves-light mb-3"
                   href="{{ path('trick.history', {'id': trick.id}) }}">view {{ trick.name }} history</a>
            </div>

        {% endif %}

    </div>
{% endblock %}



