{% extends 'base.html.twig' %}

{% block title %}
    New Trick
{% endblock %}

{% block body %}
    <div class="trick-container container z-depth-1 mt-5" id="trickNewContainer">
        <h1>New trick</h1>

        <!-- Add image and video -->
        <div class="row">
            <div class="col m4 offset-m1">
                {{ form_start(imageForm) }}
                {{ form_widget(imageForm) }}
                {{ form_end(imageForm) }}
            </div>
            <div class="col m4 offset-m1">
                {{ form_start(videoForm) }}
                {{ form_widget(videoForm) }}
                {{ form_end(videoForm) }}
            </div>
        </div>

        {% include 'trick/admin/_edit-trick-form.html.twig' with {'form': form} %}

    </div>

{% endblock %}



