{% extends 'base.html.twig' %}

{% block header_keywords %}{% for tag in trick.tags %}{{ tag.name }},{% endfor %}{% endblock %}

{% block header_title %}{{ trick.name }}{% endblock %}
{% block header_description %}{{ trick.text|striptags|length > 155 ? trick.text|striptags|slice(0, 155) ~ '...' : trick.text|striptags }}{% endblock %}

{% block body %}

    <div class="trick-container container z-depth-1 my-5" id="trickShowContainer" data-id="{{ trick.id }}">

        <!-- Header image with edit buttons -->
        <div class="trick-image-header">

            {% if is_granted('ROLE_USER') %}
                <div class="trick-edit-button px-3 mt-3 mr-2">

                    {% include 'trick/_trick-edit-icons.html.twig' with {'trick': trick} %}

                </div>
            {% endif %}

            <!-- Header image -->
            {% include 'media/_trick-primary-image.html.twig' with {'trick': trick} %}

            <h1 class="trick-name center-align w100 font-coiny m-0 bordered-text">{{ trick.name }}</h1>
        </div>

        <!-- Images and videos -->
        {% if trick.images|length > 0 %}
            <div class="hide-on-med-and-up center">
                <button class="waves-effect waves-light btn" id="view-trick-images">
                    <i class="material-icons left">insert_photo</i>View photos
                </button>
            </div>
        {% endif %}
        <div class="row flex-center valign-wrapper hide-on-small-only" id="trick-images">
            {% for image in trick.images %}
                <div class="col xl2 l3 m6 s12 mt-3">
                    {% include 'media/_trick-image.html.twig' with {'image': image} %}
                </div>
            {% endfor %}

            {% for video in trick.videos %}
                <div class="col xl2 l3 m6 s12 mt-3">
                    {% include 'media/_trick-video.html.twig' with {'video': video} %}
                </div>
            {% endfor %}
        </div>


        <article class="px-5 trick-article">
            {{ trick.text|escape|markdown }}
        </article>

        <!-- Info tags -->
        <div class="row flex-center mt-3">
            <div class="col s12 l3 mx-2 p-1 z-depth-1 valign-wrapper">
                <p class="center w100">Page created at : <br>{{ trick.createdAt |date('d/m/y') }}</p>
            </div>
            <div class="col s12 mt-2 mt-l-0 l3 mx-2 p-1 z-depth-1 valign-wrapper">
                <p class="center w100">Category : <br>{{ trick.category.name }}</p>
            </div>
            <div class="col s12 l3 mt-2 mt-l-0 mx-2 p-1 z-depth-1 valign-wrapper">
                <p class="center w100">Last modification : <br>{{ trick.editedAt | date('d/m/y') }}</p>
            </div>
        </div>
        <!-- Tags -->
        <div class="row flex-center">
            {% for tag in trick.tags %}
                <div class="chip">
                    <a href="{{ path('trick.tag', {'id':tag.id, 'slug':tag.slug}) }}">{{ tag.name }}</a>

                </div>
            {% endfor %}
        </div>


        <hr class="mt-3 seperator" id="end-trick">

        <!-- Add comment -->
        {% if is_granted('ROLE_USER') %}
            <div class="row">
                <div class="col m6 s12 offset-m2">
                    {% include 'comment/_comment-form.html.twig' with {'commentForm': commentForm, 'actionPath': actionPath} %}
                </div>
            </div>
            <hr class="seperator">
        {% endif %}

        <!-- List comments -->
        <div id="card-list">

            {% include 'comment/_comment-line.html.twig' with {'comments': comments} %}

        </div>

        {% set url =  path('trick.show', {'page': nextPage, 'id': trick.id, 'slug': trick.slug}) %}
        {% include 'trick/_loadMoreButton.html.twig' with {'nextPage': nextPage, 'url': url} %}

    </div>


{% endblock %}
