{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Trick Name{% endblock %}

{% block body %}

    <div class="trick-container container z-depth-1 mt-5" id="trickShowContainer" data-id="{{ trick.id }}">

        <!-- Header image with edit buttons -->
        <div class="trick-image-header">

            {% if is_granted('ROLE_USER') %}
                <div class="trick-edit-button z-depth-2 px-3 mt-3 mr-2 indigo lighten-5">

                    {% include 'trick/_trick-edit-icons.html.twig' with {'trick': trick} %}

                </div>
            {% endif %}

            <img src="https://via.placeholder.com/350x150" alt="" class="responsive-img w100">
            <h1 class="trick-name center-align w100 font-coiny m-0 text-shadow">{{ trick.name }}</h1>
        </div>

        <!-- Images and videos -->
        <div class="row flex-center" id="trick-images">
            {% for i in 0..10 %}
                <div class="col xl2 l3 m6 s12 mt-3">
                    <img src="https://via.placeholder.com/350x150" alt="" class="responsive-img w100 z-depth-2">
                </div>

            {% endfor %}

        </div>

        <article class="px-5">
            {{ trick.text|escape|markdown }}
        </article>

        <!-- Info tags -->
        <div class="row flex-center mt-3">
            <div class="col s3 mx-2 p-1 z-depth-1 valign-wrapper">
                <p class="center w100">Creation : {{ trick.createdAt |date('d/m/y') }}</p>
            </div>
            <div class="col s3 mx-2 p-1 z-depth-1 valign-wrapper">
                <p class="center w100">Group</p>
            </div>
            <div class="col s3 mx-2 p-1 z-depth-1 valign-wrapper">
                <p class="center w100">Modification : {{ trick.editedAt | date('d/m/y') }}</p>
            </div>
        </div>

        <hr class="mt-3 seperator">

        <!-- Add comment -->
        {% if is_granted('ROLE_USER') %}

            <form>
                <div class="row">
                    <div class="input-field col s6 offset-s2">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                        <label for="icon_prefix2">Comment</label>
                    </div>
                    <div class="col s2 valign-wrapper my-3">
                        <a href="" class="btn">Submit</a>
                    </div>
                </div>
            </form>

            <hr class="seperator">
        {% endif %}

        <!-- List comments -->
        <div id="trick-comments">
            {% for i in 0..5 %}
                <div class="row valign-wrapper my-3 mr-3 mr-l-0">
                    <div class="col s2 hide-on-med-and-down"></div>
                    <div class="col s3 l2">
                        <p><img src="https://via.placeholder.com/150x150" alt="" class="responsive-img circle"></p>
                        <p class="center-align">Author Name</p>
                    </div>
                    <div class="col s8 l7 z-depth-1 px-4 py-3 mr-s-2">
                        <div>
                            <h1 class="center">Title</h1>
                            <hr class="my-1 seperator">

                            <p>Accusamus blanditiis consequatur deserunt doloribus et ex labore perspiciatis qui, quis,
                                quo
                                saepe sed
                                velit. Adipisci atque corporis fugit illum iusto labore maiores mollitia, praesentium
                                qui
                                reiciendis unde
                                voluptate, voluptatem.</p>
                            <p class="right m-0">Date</p>
                        </div>
                    </div>
                    <div class="col s2 hide-on-med-and-down"></div>
                </div>
            {% endfor %}
        </div>

        <div class="row valign-wrapper pb-5">
            <div class="col s12 my-3 center-align">
                <a href="" class="btn">Load More</a>
            </div>

        </div>
    </div>


{% endblock %}
