{% extends 'base.html.twig' %}

{% block keywords %}{% for tag in trick.tags %}{{ tag.name }},{% endfor %}{% endblock %}

{% block title %}SnowTricks - Trick Name{% endblock %}

{% block body %}

    <div class="trick-container container z-depth-1 mt-5" id="trickShowContainer" data-id="{{ trick.id }}">

        <!-- Header image with edit buttons -->
        <div class="trick-image-header">

            {% if is_granted('ROLE_USER') %}
                <div class="trick-edit-button px-3 mt-3 mr-2">

                    {% include 'trick/_trick-edit-icons.html.twig' with {'trick': trick} %}

                </div>
            {% endif %}

            <!-- Header image -->
            {% include 'image/_trick-primary-image.html.twig' with {'primaryImages': trick.primaryImages} %}

            <h1 class="trick-name center-align w100 font-coiny m-0 text-shadow">{{ trick.name }}</h1>
        </div>

        <!-- Images and videos -->
        <div class="row flex-center valign-wrapper" id="trick-images">
            {% for image in trick.images %}
                <div class="col xl2 l3 m6 s12 mt-3">
                    {% include 'image/_trick-image.html.twig' with {'image': image} %}
                </div>
            {% endfor %}
        </div>

        <article class="px-5 trick-article">
            {{ trick.text|escape|markdown }}
        </article>

        <!-- Info tags -->
        <div class="row flex-center mt-3">
            <div class="col s3 mx-2 p-1 z-depth-1 valign-wrapper">
                <p class="center w100">Page created at : <br>{{ trick.createdAt |date('d/m/y') }}</p>
            </div>
            <div class="col s3 mx-2 p-1 z-depth-1 valign-wrapper">
                <p class="center w100">Category : <br>{{ trick.category.name }}</p>
            </div>
            <div class="col s3 mx-2 p-1 z-depth-1 valign-wrapper">
                <p class="center w100">Last modification : <br>{{ trick.editedAt | date('d/m/y') }}</p>
            </div>
        </div>
        <!-- Tags -->
        <div class="row flex-center">
            {% for tag in trick.tags %}
                <div class="chip">
                    <a href="{{ path('trick.tag', {'id':tag.id, 'slug':tag.slug}) }}">{{ tag.name }}</a>

                </div>
            {% endfor %}
        </div>


        <hr class="mt-3 seperator">

        <!-- Add comment -->
        {% if is_granted('ROLE_USER') %}
            {{ form_start(commentForm, {
                action:path('comment.create',{'id':trick.id}),
                method:'POST',
            }) }}

            <div class="row">
                <div class="input-field col m6 s12 offset-m2">
                    <i class="material-icons prefix">mode_edit</i>
                    {{ form_widget(commentForm.comment) }}
                    {{ form_label(commentForm.comment, 'comment') }}
                </div>
                <div class="col m2 s12 valign-wrapper my-3">
                    {{ form_widget(commentForm.save) }}
                </div>
            </div>


            {{ form_end(commentForm) }}

            <hr class="seperator">
        {% endif %}

        <!-- List comments -->
        <div id="trick-comments">
            {% for comment in trick.comments %}

                {% include 'comment/_comment-line.html.twig' with {'comment': comment} %}

            {% endfor %}
        </div>

        <div class="row valign-wrapper pb-5">
            <div class="col s12 my-3 center-align">
                <a href="" class="btn">Load More</a>
            </div>

        </div>
    </div>


{% endblock %}
